html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 100%;
	text-align: left;
}
body {
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
}

h1, h2, h3 { font-family: 'Bitter', sans-serif; }

h1 {
	font-weight: 200;
	font-size: 3rem !important;;
	line-height: 1.15;
}
h2, h3, h4, p { line-height: 1.5; }
h2, h3 { font-weight: 500; }
h2 { font-size: 2.2rem !important; }
h3 { font-size: 1.6rem !important; }
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700 !important;;
	font-size: 1rem !important;
	letter-spacing: 100;
	text-transform: uppercase;
	margin-bottom:0;
	padding-bottom:0;
	line-height: 1.5 !important;
}
p { 
	font-size: 1.25rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted currentColor;
}
a:hover {
	opacity: .6;
	border-bottom: 1px solid currentColor;
	transition: all .5s;
}
.label {
	font-weight: 300;
	font-size: .85rem;
	color: #767676;
	fill: #767676;
	font-family: 'Roboto', sans-serif;
}
.value {
	color: #333;
	fill: #333;
	font-size: .8rem;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

.graphic {
	height:50vh;
	margin-bottom:3rem;
}

.col, .wide {
	margin: 0 auto;
	width: 100%;
}

.full {
	width:100%;
	margin: 0;
}

.fs {
	width:100vw;
	min-height:80vh;
	margin:0;
	margin-left:-1em;
	padding:0;
}

.icon {
	width:2.4rem;
	height:2.4rem;
	margin: 0!important;
	padding:0!important;
}

.icon svg {
	width:100%;
	height:100%;
	margin-bottom: -4px;
}

.logo {
	height:4rem;
}

menu {
	padding:0;
	margin:0;
	height:2.4rem;
	width:100%;
}

@media screen and (min-width: 40rem) {
	h1 { font-size: 3.6rem; }
	h2 { font-size: 2.7rem; }

	menu {
		padding:0;
		margin:0;
		height:3rem;
		position: fixed;
		top:0;
		width:100%;
	}

	.col { width:40rem; }
	.wide { width:60rem; }
}